 body {
background: url("../images/psychic.jpg");
background-size: 100%;
}

.container {
    font-family: 'Teko', sans-serif;
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
    font-size: 40px;
    color: white;
}